/* @import 'sections/header.css'; */
/* @import '../main/service/special/special.css'; */
/* @import '../header/header.css'; */
/* @import '../header/login/login.css'; */
/* @import '../header/login/login.css'; */
/* @import '../header/banner/banner_serv.css'; */
/* @import '../header/tel/tel.css'; */
/* @import '../header/input/input.css'; */
/* @import '../header/menu/menu.css'; */
/* @import '../header/banner/banner.css'; */
/* @import '../main/special/special.css'; */
/* @import '../main/advantages/advantages.css'; */
/* @import '../main/transport/transport.css'; */
/* @import '../main/news/news.css'; */
/* @import '../main/service/service/service.css'; */
/* @import '../main/service/work/work.css'; */
/* @import '../main/about/about.css'; */
/* @import '../main/news_page/news.css'; */
/* @import '../main/contacts/contacts.css'; */
/* @import '../main/basket/basket.css'; */
/* @import '../footer/footer.css'; */







/* @import 'sections/advantages.css'; */
/* @import 'sections/transport.css'; */
/* @import 'sections/news.css'; */
/* @import 'sections/feedback.css'; */
/* @import 'sections/footer.css'; */
/* @import 'sections/services.css'; */
/* @import 'sections/work.css'; */
/* @import 'sections/special.css'; */
/* @import 'sections/about.css'; */
/* @import 'sections/contacts.css'; */
/* @import 'sections/login.css'; */
/* @import 'sections/signup.css'; */
/* @import 'sections/adaptations.css'; */
/* @import 'sections/basket.css'; */

* {
    font-family: 'Roboto', serif;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', serif;
    font-weight: 700;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3,
h4,
h5 {
    font-size: 20px;
}

/* h4 {
    font-size: 20px;
}

h5 {
    font-size: 20px;
} */

html,
body {
    font-size: 100%;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: all 1s;
}

/* a:hover {
    text-decoration: none;
} */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width: 1399px) {
    .container {
        max-width: 1070px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
}