@import '../header/banner/banner';
@import '../header/banner/banner_serv';
@import '../header/header';
@import '../header/input/input';
@import '../header/login/login';
@import '../header/menu/menu';
@import '../header/tel/tel';
@import '../main/about/about';
@import '../main/advantages/advantages';
@import '../main/basket/basket';
@import '../main/contacts/contacts';
@import '../main/news/news';
@import '../main/news_page/news_page';
@import '../main/service/service/service';
@import '../main/service/special/special';
@import '../main/service/work/work';
@import '../main/special/special';
@import '../main/transport/transport';
@import '../footer/footer';