$var1: #ffffff;
$var2: #FF9900;

.banner {
	height: 700px;
	background: url(../header/banner/img/banner_big.jpg) center (center / cover) no-repeat;

	.container {
		height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	&_info {
		width: 400px;
		text-align: right;

		h1 {
			color: $var1;
			font-size: 45px;
		}

		p {
			color: $var1;
			margin-bottom: 30px;
			font-size: 20px;
		}

		a {
			text-transform: uppercase;
			outline: 1px solid $var1;
			padding: 8px 40px;
			color: $var1;
			letter-spacing: 5px;
			font-size: 22px;
			position: relative;
			z-index: 1;
			overflow: hidden;
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			display: inline-block;
			transition: all 0.5s;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				background: $var2;
				z-index: -1;
				transform: rotate(-45deg) translateY(-3em);
				transform-origin: 0% 100%;
				transition: all 0.5s;
			}

			&:hover {
				outline-color: $var2;

				&::before {
					opacity: 1;
					transform: rotate(0deg);
					transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				}
			}
		}
	}
}