$var1: #f5f5f5;
$var2: #ff9900;
$var3: #000000;

.banner1 {
	background: url(img/12.jpg) 0px 0px / cover no-repeat;
	height: 470px;
}
.line {
	padding: 1em 0;
	background: $var1;
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		span {
			padding: 0 1.5em;
		}
	}
	a {
		color: $var2;
		&:hover {
			color: $var3;
			text-decoration: none;
		}
	}
}
@media screen and (max-width: 1399px) {
	.banner {
        height: 630px;
    
		.container {
			height: 630px;
		}
	}
}

@media screen and (max-width: 1199px) {
	.banner {
		.container {
			max-width: 980px;
		}
		&_info {
			padding-right: 20px;
		}
	}

}
@media screen and (max-width: 991px) {
    .banner {
        padding: 0 20px;
		&_info h1 {
			font-size: 35px;
		}
		&_info p {
			display: none;
		}
    }
}

@media screen and (max-width: 767px) {
    .banner {
        height: 470px;
		.container {
			height: 470px;
		}
    }
}

@media screen and (max-width: 575px) {
    .banner {
		height: 469px;
		padding: 0;
		.container {
			height: 469px;
			align-items: center;
		}
	}
	.banner_info {
		width: 100%;
		text-align: center;
		h1 {
			display: none;
		}
		a {
			padding: 8px 30px;
		}
	}
    .banner1 {
		height: 470px;
		background: url(../../header/banner/img/12.jpg) -80px 0px / cover no-repeat;
	}
	
}
