.banner {
    height: 700px;
    background: url(img/banner_big.jpg) center center / cover no-repeat;
}

.banner .container {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner_info {
    width: 400px;
    text-align: right;
}

.banner_info h1 {
    color: #fff;
    font-size: 45px;
}

.banner_info p {
    color: #fff;
    margin-bottom: 30px;
    font-size: 20px;
}

.banner_info a {
    text-transform: uppercase;
    outline: 1px solid #fff;
    padding: 8px 40px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 22px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    display: inline-block;
    transition: all 0.5s;
}

.banner_info a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #FF9900;
    z-index: -1;
    transform: rotate(-45deg) translateY(-3em);
    transform-origin: 0% 100%;
    transition: all 0.5s;
}

.banner_info a:hover {
    outline-color: #FF9900;
}

.banner_info a:hover::before {
    opacity: 1;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

