$var1: #ff9900;
$var2: #777777;
$var3: #5ce8ed;

.logo {
    display: block;
    height: 100px;
    transition: all 1s;

    a img {
        position: relative;
        height: 100px;
        transform: scale(1.7);
        z-index: -1;
        top: 6px;
        left: 40px;
    }

    &_nav .container {
        display: flex;
        justify-content: space-between;
    }

    &_nav {
        position: relative;
    }
}

.navbar {
    margin: auto 0;

    ul {
        display: flex;
        overflow: hidden;
        list-style: none;
        padding: 0;

        li.active span {
            color: $var1;
        }

        &>li>a {
            font-size: 18px;
            text-transform: uppercase;
            padding: 0 20px;
        }
    }

    a span {
        color: $var2;
        position: relative;
        display: inline-block;
        transition: 0.4s;

        &::before {
            color: $var1;
            position: absolute;
            top: 100%;
            content: attr(data-description);
        }
    }

    a:hover span {
        color: $var1;
        transform: translateY(-100%);
    }
}

.burger_menu {
    display: none;
    cursor: pointer;
    padding: 20px 20px;
    position: absolute;
    right: 53px;
    top: 4px;
    position: fixed;
    top: 120px;
    z-index: 3;
    border-radius: 30%;
    transition: all 1s;

    &:hover {
        background: $var1;
    }

    &:before,
    &:after {
        background: $var3;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    &:before {
        top: 8px;
    }

    &:after {
        top: -8px;
    }
}

.navicon {
    background: $var3;
    display: block;
    height: 2px;
    position: fixed;
    right: 55px;
    transition: .2s ease-out;
    width: 35px;
    z-index: 3;

    &:before,
    &:after {
        background: $var3;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    &:before {
        top: 8px;
    }

    &:after {
        top: -8px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar {
        ul {
            &>li {
                &>a {
                    padding: 0 15px;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .logo {
        display: none;
    }

    .logo_nav {
        .container {
            justify-content: center;
            padding: 15px 0;
        }
    }

}

@media screen and (max-width: 767px) {
    .burger_menu {
        display: block;
    }

    .navbar {
        .burger_menu {
            display: block;
            outline: transparent;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            left: -100%;
            top: 115px;
            width: 50%;
            height: calc(100vh - 115px);
            background: rgba(0, 0, 0, 0.4);
            text-align: center;
            transition: all 1s;
            overflow: hidden;
        }

        a {
            &:hover {
                span {
                    color: #ff9900;
                    transform: translateY(0);
                }
            }
        }

        .menu_active {
            z-index: 2;
            position: fixed;
            left: 0;
        }

        ul {
            span {
                color: #5ce8ed;
            }

            li {
                &.active {
                    span {
                        color: #ff9900;
                    }
                }
            }

            &>li {
                &>a {
                    font-size: 22px;
                    letter-spacing: 8px;
                }
            }
        }

        .burger_menu_active {
            outline-offset: -3px;
            outline: #5ce8ed 2px solid;
        }
    }

    .menu {
        li {
            a {
                span {
                    overflow: hidden;
                    outline-offset: 5px;
                    outline: #5ce8ed 2px solid;
                }
            }
        }
    }

    .logo_nav {
        .container {
            height: 50px;
            padding-top: 150px;
            justify-content: flex-start;
        }
    }

    .menu_active {
        span {
            &::before {
                display: none;
            }
        }

        li {
            a {
                span {
                    margin: 15px 0;
                }
            }
        }
    }

    .burger_menu_active {
        .navicon {
            background: transparent;

            &:before {
                transform: rotate(-45deg);
                background: #5ce8ed;
            }

            &:after {
                transform: rotate(45deg);
                background: #5ce8ed;
            }
        }
    }

    .burger_menu_active .navicon:before,
    .burger_menu_active .navicon:after {
        top: 0;
    }


}

@media screen and (max-width: 575px) {
    .navbar {
        width: 100%;

        .menu {
            height: calc(100vh - 70px);
            width: 75%;
            top: 70px;
            justify-content: space-around;
            padding: 0;
        }

        .burger_menu {
            top: 75px;
            right: 23px;

            .navicon {
                right: 25px;
            }
        }
    }

    .logo_nav {
        .container {
            padding-top: 105px;
        }
    }

    .menu {
        li {
            text-align: center;
        }
    }

}