$var1: #777777;
$var2: #ffffff;
$var3: #ff9900;

.basket {
    padding-top: 50px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    span {
        font-size: 20px;
        color: $var1;
    }

    .container {
        padding: 37px;
        display: grid;
        border: 1px solid $var2;
        margin: 40px auto;
        background-color: $var3;
        border-radius: 20px;
        grid-gap: 10px;

        &>div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin: 5px 0;
            justify-items: center;
            border: 1px solid $var2;
            gap: 2px;
            background-color: $var2;
            border-radius: 10px;
        }
    }
}


.route,
.distance,
.weight,
.pay,
.money,
.delete {
    display: flex;
    flex-direction: column;
    color: $var2;
}



@media screen and (max-width: 1199px) {
    .basket {
        padding: 40px;

        .container {
            &>div {
                align-items: center;

                &>div {
                    &>span {
                        text-align: center;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .basket {
        span {
            font-size: 16px;
        }
    }

}