/* page news.html */
.news_company {
    padding: 70px 0;
}
.news_title {
    width: 16%;
}
.news_company .container {
    display: flex;
}

aside {
    width: 33%;
    padding: 0 15px;
}

.recent_posts {
    margin-bottom: 40px;
    padding: 30px;
    border: 5px solid #f5f5f5;
}

.recent_posts h3,
.twitter_posts h3 {
    font-size: 1.3em;
    color: #ff9900;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top: 0;
}

.recent_posts_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent_posts_item_img {
    width: 30%;
}

.recent_posts_item_img img {
    display: block;
    width: 100%;
}

.recent_posts_item_info {
    width: 65%;
}

.recent_posts_item_info h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.recent_posts_item_info a {
    font-size: 17px;
    text-decoration: none;
    color: #212121;
    line-height: 1em;
}

.recent_posts_item_info a:hover {
    color: #999;
}

.recent_posts_item_info img {
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.recent_posts_item_info li {
    display: inline-block;
}

.recent_posts_item_info li:first-child {
    margin-right: 20px;
}

.recent_posts_item_2,
.recent_posts_item_4 {
    margin: 40px 0;
}

.recent_posts_item_4 {
    margin-bottom: 0;
}
.twitter_posts {
    padding: 2em;
    border: 5px solid #f5f5f5;
}
.twitter_posts p {
    padding-left: 20px;
    color: #999;
    line-height: 2em;
}

.twitter_posts img,
.news_list img,
.comments_data img,
.recent_posts_item_info img {
    width: 15px;
    height: 15px;
}





.news_list img {
    width: 15px
}

.news_list li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.news_list li img {
    margin-right: 20px;
}

.news_list li p {
    margin: 3px 0 0;
}
.news_list ul {
    display: flex;
}

.news_right {
    width: 67%;
    padding: 0 15px;
}


article h3 {
    margin: 45px 0;
    color: #212121;
    font-size: 1.4em;
    padding-left: 1.5em;
    line-height: 1.8em;
    border-left: 5px solid #ff9900;
}

article img {
    width: 100%;
}

article p {
    margin: 50px 0;
    line-height: 2.0em;
}

.news_comments {
    margin: 0 auto;
    padding: 50px 15px;
}

.news_comments h4 {
    text-transform: uppercase;
    font-size: 28px;
}

.news_comments_item {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 0.4fr 1fr;
    gap: 30px 0;
}

.news_comments_item_foto {
    place-self: center;
}

.news_comments_item h4 {
    align-self: center;
}

.user_wrap a {
    color: #ff9900;
}

.user_wrap a:hover {
    color: black;
}

.user_wrap p {
    color: #999;
}

.comments_data {
    display: flex;
    margin: 10px 0;
}

.user_comment {
    margin: 10px 0;
}

.comments_data img {
    margin-right: 20px;
}

.reply a {
    color: black;
}

.reply a:hover {
    color: #ff9900;
}

.comments_wrap {
    padding: 0 150px;
    width: 100%;
    margin-bottom: 0;
}
.comments_wrap .form_email {
    margin-top: 15px;
}
.comments_wrap .form_top_left {
    width: 50%;
}

.comments_wrap .form_top_left input {
    outline: none;
    background: #f5f5f5;
    border: 1px solid #E6E6E6;
}

.comments_columns {
    text-align: center;
    text-transform: uppercase;
}

.comments_columns h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}



.news_container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center;
}



.news_button {
    width: 50%;
    margin: 20px 15px 0;
    padding-right: 30px;
}

.news_button input {
    width: 70%;
    padding: 15px;
    color: #212121;
    outline: none;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    background: #ff9900;
    transition: all 1s;
    border: none;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.news_button input:hover {
    background: #212121;
}

@media screen and (max-width: 1199px) {
    .comments_wrap {
        padding: 0 100px;
    }

    .news_comments h4 {
        font-size: 26px;
    }
}

@media screen and (max-width: 992px) {
    article h3 {
        line-height: 28px;
    }

    .recent_posts_item_img {
        width: 100%;
    }

    .recent_posts_item {
        display: block;
    }

    .recent_posts_item_info {
        width: 100%;
    }

    .recent_posts_item_img img {
        object-fit: cover;
    }

    .recent_posts h3,
    .twitter_posts h3 {
        line-height: 28px;
    }

    .news_list li {
        justify-content: space-between;
    }

    .twitter_posts {
        display: none;
    }

    .news_company {
        padding: 50px 0 60px;
    }

    article p {
        margin: 0;
        line-height: 27px;
    }

    .news_comments h4 {
        font-size: 22px;
    }

    .news_comments_item {
        grid-template: 0.5fr 1fr 1fr/ 0.5fr 1fr;
    }

    .comments_wrap {
        padding: 0 70px;
    }

    .form_top_left input,
    .form_top_right input {
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {
    .news_list ul {
        display: none;
    }

    aside {
        width: 100%;
        padding: 0 15px;
    }

    .news_company .container {
        display: block;
    }

    .news_right {
        width: 100%;
    }

    .news_comments_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user_wrap {
        text-align: center;
    }

    .comments_data {
        justify-content: center;
    }

    .comments_wrap {
        padding: 0 10px;
    }

    .news_comments h4 {
        margin: 0;
    }

    .comments_wrap .form_top_left,
    .form_textarea {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .form_top {
        flex-direction: column;
    }

    .comments_wrap .form_top_left,
    .comments_wrap .form_top_right {
        width: 100%;
    }

    .news_button {
        width: 100%;
        padding: 15px;
        margin: 0;
    }

    .news_button input {
        width: 100%;
    }

    .news_company {
        padding: 50px 0 30px;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 15px;
    }
}