.news {
    padding: 80px 0 50px;
    /* background: url(img/main_bg.jpg);
    z-index: -1; */

}

.news_item img {
    width: 25px;
    float: right;
}

.news_title {
    font-size: 2em;
    font-weight: 700;
    padding: .5em 1em;
    box-shadow: 0px 0px 5px #b0b0b0;
    text-transform: uppercase;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.news_subtitle {
    text-align: center;
    color: #ff9900;
    font-size: 18px;
    margin: 1.5em 0;
    font-weight: 500;
    font-family: 'Open Sans', serif;
}

.news_wrap {
    width: 100%;
    position: relative;
    /* outline: 1px solid #999; */
    box-shadow: 0px 0px 50px #b0b0b0;
    /* outline-color: #999; */
    /*  margin-top: 30px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px; */
    background-color: rgb(190, 228, 235);
    border-radius: 20px;

}

.slider_item {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 0 20px;
    width: 80%;
    margin: 0 auto;

    /* margin-top: 50px; */
    /* position: relative; */
}

.news_item {
    margin-right: 30px;
}

.news_item p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: relative;
    font-weight: 800;
}

.news_descr img {
    width: 80%;
}

.prev {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 90px;
    /* left: 10%; */
    /*  background-color: rgba(0, 0, 0, 0.4); */
    transition: 0.3s;
    height: 100%;
}

.next {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 90px;
    /* background-color: rgba(0, 0, 0, 0.4); */
    transition: 0.3s;
    height: 100%;
    right: 0;

}

.prev:hover .arrow_left,
.next:hover .arrow_right {
    opacity: 1;
}

/* .next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.4);
} */

.arrow_left,
.arrow_right {
    width: 50px;
    height: 50px;
    background: url(../../icons/left-arrow.svg) center / cover no-repeat;
    /*  background-size: cover; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: .4;
    transition: 1s;
}


.arrow_right {
    /* width: 50px;
    height: 50px; */
    background: url(../../icons/right-arrow.svg) center / cover no-repeat;
    /* background-size: cover; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: .4;
    transition: 1s; */
}

.news_list a {
    color: #212121;
}

.news_list a:hover {
    color: #ff9900;
}

.data {
    padding-top: 5px;
    font-size: 30px;
    color: #212121;
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: relative;
    font-weight: 800;
    text-align: right;
}

.recent_posts_item .number_comment {
    color: #999;
}

.recent_posts_item .number_comment:hover {
    color: #ff9900;
}

.news_comments h4 {
    margin-left: 40px;
}

.news_item span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin: 5px 0;
}

.data:before,
.data:after,
.comments:before,
.comments:after {
    content: '';
    position: absolute;
    bottom: 0%;
    height: 2px;
    border-radius: 5px;
}

.data:before,
.comments::before {
    width: 100%;
    background: #d5d5d5;
    left: 0;
}

.data:after,
.comments::after {
    width: 83%;
    background: #ff9900;
    right: 0%;
}

.envelope,
.eye {
    margin-bottom: 5px;
}

.news_descr a {
    display: block;
    color: #ff9900;
    margin: 1.5em 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.news_descr p {
    color: #999;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    margin-bottom: 50px;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    height: 100px;
}

/* page news.html */