$var1: #999999;
$var2: #ff9900;
$var3: #E4E4E4;

.about {
	padding: 70px 0;
	&_descr_items {
		margin-top: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	&_descr_item_left {
		display: grid;
		grid-template: 0.6fr 1fr / 1fr 1fr;
		gap: 30px;
		padding: 0 10px;
		width: 100%;
		height: 100%;
		img:last-child {
			grid-column: 1/3;
		}
		img {
			width: 100%;
			height: 100%;
			align-self: center;
			justify-self: flex-end;
		}
	}
	&_descr_item_right {
		display: grid;
		grid-template-rows: 100px 1fr 100px;
		h3 {
			font-size: 30px;
		}
		p {
			padding: 20px 0;
			color: $var1;
			span {
				color: $var2;
			}
		}
	}
	&_buttom {
		padding-top: 80px;
		.container {
			display: flex;
			justify-content: space-between;
		}
		&_left {
			padding: 0 10px;
			width: 50%;
			h3 {
				margin-top: 0;
				font-size: 25px;
			}
			ol {
				padding-left: 20px;
				li {
					margin-bottom: 15px;
					font-size: 17px;
					color: $var1;
				}
			}
			p {
				font-size: 17px;
				color: $var1;
				margin: 1em 0 1em;
			}
		}
		&_right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 10px;
			width: 50%;
		}
		&_strip {
			background-color: $var3;
			height: 4px;
			width: 100%;
			position: relative;
			border-radius: 2px;
			margin-bottom: 30px;
			&:after {
				height: 4px;
				border-radius: 2px;
				background: $var2;
				display: block;
				content: '';
				position: absolute;
				display: block;
			}
			&1:after {
				width: 67%;
			}
			&2:after {
				width: 38%;
			}
			&3:after {
				width: 47%;
			}
			&4:after {
				width: 100%;
			}
			&5:after {
				width: 80%;
			}
		}
	}
}
.stat {
	background: url(../../img/13.jpg) 0px 0px / cover no-repeat;
	min-height: 300px;
	color: white;
	margin-top: 80px;
	&_item {
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 40px;
			height: 40px;
		}
	}
	.counter {
		margin: 20px 0;
		font-size: 2.5em;
		font-weight: 700;
		font-family: 'Open Sans', serif;
	}
	&_title {
		font-size: 20px;
		text-transform: uppercase;
	}
	&_wrap {
		display: grid;
		grid-template-columns: repeat(4, auto);
		padding: 80px 0;
	}
}




@media screen and (max-width: 1199px) {
    .about {
        padding: 50px 0;
    }

    .about_descr_items {
        margin-top: 60px;
    }

    .about_descr_item_right {
        p {
            padding-top: 50px;
        }
    }

    .stat {
        .counter {
            font-size: 1.5em;
        }
    }

    .stat_title {
        font-size: 17px;
    }

    .about_buttom_left,
    .about_buttom_right {
        padding: 0 20px;
    }

}

@media screen and (max-width: 991px) {
    .about_descr_item_left {
        display: flex;
        flex-direction: column;

        img {
            object-fit: cover;

            &:nth-child(2) {
                display: none;
            }
        }
    }

    /* .stat_wrap {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, auto);
        gap: 10px;
        padding: 30px;
    } */

    .about_descr_item_right {
        padding-right: 10px;
    }

}

@media screen and (max-width: 767px) {
    .about {
        padding: 30px 0;

        &_buttom {
            padding-top: 50px;
        }

        &_descr_items {
            margin-top: 40px;
            gap: 0;
        }

        &_descr_item_left {
            object-fit: cover;
        }

        &_descr_item_right {
            font-size: 26px;
        }
    }

    .stat {
        font-size: 22px;

        &_title {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 575px) {
    .services_title {
        font-size: 18px;
    }

    .about_descr_item_left {
        img {
            height: 180px;
            object-fit: cover;
            height: 180px;

            &:first-child {
                display: none;
            }
        }
    }

    .about_descr_items {
        display: block;
    }

    .about_descr_item_right {
        h3 {
            font-size: 22px;
            text-align: center;
            margin: 10px;
        }

        p {
            padding: 0 10px;
            margin-bottom: 20px;
        }

        .more {
            padding-left: 10px;
        }
    }

    .stat {
        margin-top: 0;

        .counter {
            font-size: 20px;
        }
    }

    .stat_item {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .stat_title {
        font-size: 14px;
        text-align: center;
    }

    .about_buttom_right {
        display: none;
    }

    .about_buttom_left {
        width: 100%;

        h3 {
            text-align: center;
            font-size: 22px;
        }
    }

    .about_buttom {
        padding-top: 20px;

        .container {
            display: block;
        }
    }

}