.services {
    padding: 70px 0;
}

.services_items {
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
}

.services_title {
    font-size: 2em;
    /* font-weight: 700; */
    padding: .5em 1.5em;
    box-shadow: 0px 0px 5px #b0b0b0;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.services_subtitle {
    text-align: center;
    color: #ff9900;
    font-size: 18px;
    margin: 1.5em 0;
    font-weight: 500;
    font-family: 'Open Sans', serif;
}

.services_item {
    justify-self: center;
    margin: 0 auto;
    text-align: center;
}

.services_item p {
    color: #999;
}

.services_item h4 {
    margin: 1em 0;
}

.services_item a {
    color: #000000;
    transition: all 0.7s;
    text-decoration: none;
}

.services_svg {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    transition: all 0.7s;
}

.services_svg svg {
    fill: #ff9900;
}

.services_item:hover .services_svg {
    transform: scale(1.3);
}

.services_item:hover .services_svg svg {
    fill: #000000;
}

.services_item:hover a {
    color: #ff9900;
}

.special_item img {
    height: 250px;
}

.special_title {
    width: fit-content;
}

@media screen and (max-width: 1199px) {
    .services {
        padding: 50px 20px;
    }

    .work {
        padding: 50px 20px;
    }

    .special {
        padding: 50px 0;
    }

    .special_item {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
    }

    .special_title {
        width: fit-content;
    }
}

@media screen and (max-width: 991px) {
    .special_item {
        align-items: center;
    }

    .special_item h3 {
        text-align: center;
    }

    .special_item img {
        object-fit: cover;
    }
}

@media screen and (max-width: 767px) {
    .services_title {
        width: fit-content;
        font-size: 30px;
    }

    .special_title {
        width: fit-content;
        font-size: 30px;
    }

    .special_items {
        display: block;
    }

    .work_item_left {
        text-align: center;
        align-self: flex-start;
    }

    .circle {
        align-self: flex-start;
    }

    .work_item_right {
        align-self: flex-start;
    }

    .work {
        padding-bottom: 0;
    }

    .special_item {
        justify-content: center;
        padding: 10px 130px;
    }

    .special_item h3 {
        margin: 10px 0;
    }

    .work_items {
        display: grid;
        grid-template-columns: 2fr 0.8fr 0.8fr 2fr;
        grid-template-rows: repeat(3, auto);
        gap: 20px 10px;
    }
}

@media screen and (max-width: 575px) {
    .services_items {
        display: grid;
        grid-template: auto auto / repeat(2, 1fr);
        margin-top: 50px;
        gap: 20px;
    }

    .work_items {
        display: block;
        text-align: center;
    }

    .circle {
        display: none;
    }

    .work_item_right,
    .work_item_left {
        margin-bottom: 20px;
        text-align: center;
    }

    .special_item {
        padding: 10px 10px;
    }
}