.container_login {
  background-color: #00b0ff;
  opacity: 0.9;
  height: auto;
  border-radius: 15px;
  padding: 30px;
  width: 30vw;
  margin: 0 auto;
}
.login {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}
.login_wrap {
  color: #212121;
  text-align: center;
  margin-top: 20px;
}
.login_wrap .services_subtitle {
  font-size: 20px;
  font-weight: 700;
}
.login form {
  margin: 0 auto;
  width: 70%;
}
.login_submit {
  display: block;
  width: 70%;
  background: #ff9900;
  border: none;
  color: #ffffff;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 1s;
  cursor: pointer;
  background-color: #212121;
  margin: 30px auto 0;
}
.login_submit:hover {
  background-color: #ff9900;
}
.login_name,
.login_password {
  display: block;
  outline: none;
  font-size: 14px;
  color: #212121;
  padding: 10px;
  border: 1px solid #dadada;
  width: 100%;
  background: #f5f5f5;
  margin: 0 auto;
}
.back_home {
  width: 49%;
  margin: 2.5em auto 0;
  text-align: center;
  padding: 10px 35px;
  color: #212121;
  border: 1px solid #212121;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 1s;
  background-color: #ff9900;
  border: #ff9900;
  line-height: 26px;
}
.back_home:hover {
  color: #ffffff;
}
.login_alert,
.password_alert {
  color: #CC0000;
  font-size: 20px;
  height: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1399px) {
  .container_login {
    width: 50vw;
  }
}
@media screen and (max-width: 991px) {
  .login form {
    width: 65%;
  }
}
@media screen and (max-width: 767px) {
  .container_login {
    width: 70vw;
  }
  .login form {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {
  .container_login {
    padding: 0 0 10px;
  }
  .back_home {
    padding: 0;
  }
}
