$var1: #ff9900;
$var2: #ffffff;

.header {
	height: 58px;
	background-color: $var1;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		border-left: 1px solid $var2;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			border-right: 1px solid $var2;
			padding: 15px;
			height: 58px;
		}
	}

	a {
		color: $var2;
		font-size: 18px;
		transition: all 1.2s;
	}
}